*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font */

.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    width: 100vw;
}
/* shared style */
.btn{
    background-color: #469165;
    padding: 16.5px 16px;
    font-size: 16;
    font-weight: 700;
    color: white;
    border-radius: 4px;
}
.btn:hover{
    background-color: #469165dc;
}
.green_color{
    color: #30B868;
}
/* Main style */
header{
    background-color: #FFFFFF;
}
header nav{
    display: flex;
    justify-content: space-between;
}
 nav .nav_logo img{
    width: 139px;
    height: 60px;
    margin: 16px 0px 16px 120px;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 34px;
}
nav .btn{
    padding: 12.5px 16px;
    margin: 24px 120px 24px 0;
    color: white;
    border: none;
    font-size: 16px;
    font-weight:600;
    line-height: 19px;
    cursor: pointer;
    border-radius: 3px;
}

/* Banner style */
header #banner_section{
    width: 100vw;
    background-image: url(/images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
}
#banner_section .banner_container{
    /* border: 2px solid red; */
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}
.banner_container .early_access{
    background-color: #FFFFFF;
    color: #28a745;
    padding: 8px 12px;
    max-width: 229px;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
}
.banner_container .early_access .early_icon{
    padding-right: 6px;
}
.banner_container .banner_heading{
    margin: 51px auto 32px auto;
    text-align: center;
}
.banner_container .banner_heading h1{
    color: white;
    font-size: 72px;
    font-weight: 700;
}
.banner_container .banner_heading p{
    font-size: 18px;
    color: white;
    margin-top: 16px;
}
.banner_container .banner_btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner_btn .start_btn{
    border: none;
    cursor: pointer;
}
.banner_btn .see_btn{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.banner_btn .see_btn:hover{
    background-color: rgba(0, 0, 0, 0.119);
}
.icon{
    width: 20px;
    height: 20px;
    color: white;
}
.fa-arrow-right{
    margin-left: 10px;
}
.fa-play{
    margin-right: 10px;
    background-color: transparent;
}

/* Notes section style*/
#note_section{
    width: 100%;
    display: flex;
    justify-content: center;
}
#note_section .note_container{
    width: 88%;
    max-width: 1360px;
}
.note_container .note_heading{
    padding-top: 60px;
}
.note_container .note_heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    padding-bottom: 16px;
}
.note_container .note_heading p{
    font-size: 16px;
    color:#627382;
    text-align: center;
}
.note_container .card_container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 44px;
}
.note_container .card_container .card{
    max-width: 322px;
    padding: 24px;
    background-color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8 #000000;
    border: 2px solid red;

}
.icon_container{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 69.5px;
    /* margin-inline: auto; */
}
.card_container .card img{
    max-width: 27px;
    max-height: 29px;
    margin: 0 auto;
}
.card_container .card h3{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 24px;
    color: #001931;
}
.card_container .card p{
    font-size: 16px;
    color: #627382;
    margin: 24px 24px 69.5px 0;
    line-height: 20px;
}
